
set +u

[ -f "$HOME/.envrc" ] && source_env $HOME || true

export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!/usr/bin/env bash" > "$target"
  echo "set -e" >> "$target"
  echo "$@ \"\$@\"" >> "$target"
  chmod +x "$target"
}

export_function() {
  local name=$1
  local alias_dir=$PWD/.direnv/aliases
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  local target="$alias_dir/$name"
  if declare -f "$name" >/dev/null; then
    echo "#!/usr/bin/env bash" > "$target"
    declare -f "$name" >> "$target" 2>/dev/null
    echo "$name" >> "$target"
    chmod +x "$target"
  fi
}

export PROJECT_NAME=keepa

export PYENV_VIRTUALENV_DISABLE_PROMPT=1

PATH_add "$PWD"

PYENV_ROOT=$(pyenv root)
if [[ -d "${PYENV_ROOT}/versions/$PROJECT_NAME" ]]; then
    eval "$(pyenv init -)"
    pyenv activate $PROJECT_NAME
fi

unset PS1
